// MEDIA QUERIES
$medium-size: 640px;
$large-size: 900px;

// FONT DEFINITIONS
$main-font: 'Roboto', sans-serif;
$style-font: 'Alegreya', serif;

// COLORS
$base-color: #eee;
$dark-color: #242424;
$highlight-color: #FFCC00;
$style-color: #E01A4F;
$dark-grey-color: #666;
$grey-color: #444444;
$light-grey-color: #ccc;
$light-color: #89D2DC;
