@import 'config';

$ribbon-light-color: #9e2812;
$ribbon-dark-color: #6f0d0d;

.ribbon {
  position: relative;
  background: #9e2812;
  background-image: linear-gradient(to bottom, $ribbon-light-color 0%, $ribbon-dark-color 100%);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-top: 1px solid #ce543d;
  border-bottom: 1px solid #4a0000;
  padding: 15px 50px;

  &:before, &:after {
    position: absolute;
    top: -8px;
    width: 0;
    height: 0;
    content: "";
    background: none;
  }

  &.ribbon-full {
    margin: 40px -50px;

    &:before {
      left: 3px;
      border-top: 7px solid darken($ribbon-dark-color, 10%);
      border-right: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-left: 7px solid transparent;
      transform: rotate(-45deg);
    }

    &:after {
      right: 3px;
      border-top: 7px solid darken($ribbon-dark-color, 10%);
      border-right: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-left: 7px solid transparent;
      transform: rotate(45deg);
    }
  }

  &.ribbon-left {
    border-radius: 0 10px 10px 0;
    margin: 40px 40px 40px -50px;

    &:before {
      left: 3px;
      border-top: 7px solid darken($ribbon-dark-color, 10%);
      border-right: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-left: 7px solid transparent;
      transform: rotate(-45deg);
    }
  }

  &.ribbon-right {
    border-radius: 10px 0 0 10px;
    margin: 40px -50px 40px 40px;

    &:after {
      right: 3px;
      border-top: 7px solid darken($ribbon-dark-color, 10%);
      border-right: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-left: 7px solid transparent;
      transform: rotate(45deg);
    }
  }

  .title {
    font-size: 1.3em;
    font-weight: 700;
    line-height: 1.5;
    color: #fc0;
    text-shadow: 0 1px 3px rgba(0,0,0,0.5);
    margin: 0 0 10px 0;
    padding: 0;
  }

  .text {
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    margin: 0;
    padding: 0;
  }
}
