---
layout: default
---
<p class="site-description">{{ site.description | escape }}</p>

<p>
  Há algum tempo, venho fazendo vários <strong>pequenos experimentos</strong> para manter meus estudos com <strong class="highlight">html, css e javascript</strong>. Depois de ter feito algumas "coisinhas legais", resolvi colocar tudo no <a href="https://github.com/gustavocardoso/front-end-playground">Github</a> e compartilhar com quem esteja <strong>interessado em aprender</strong>.
</p>

<p>
  Aqui, brinco com coisas como css animation, css transitions, browser apis e afins. Juro que tento (ou tentarei) manter tudo sempre o mais atualizado possível. <strong>Ou não!</strong>
</p>

<p>
  Vale lembrar que são apenas <strong class="highlight">estudos e testes</strong>, ou seja, podem existir erros ou maneiras melhores de se fazer as mesmas coisas. Por isso, vou deixar aberto os comentários para receber os feedbacks construtivos.
</p>

<p>
  Se você gostou, pode fazer um fork no <a href="https://github.com/gustavocardoso/front-end-playground">Github</a> ou mesmo contribuir com o projeto.
</p>

{% if site.categories.size > 0 %}
  <section class="experiments">
    {% for category in site.categories %}
      <section class="box">
        <h2 class="subtitle">{{ category | first | capitalize }}</h2>
        <ul class="experiments-list">
          {% for post in category[1] %}
            <li class="item">
              <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
              <span>{{ post.date | date_to_string }}</span>
            </li>
          {% endfor %}
        </ul>
      </ection>
    {% endfor %}
  </section>
{% endif %}
